streamlit
gtts
SpeechRecognition
pytesseract
opencv-python-headless
pillow
nltk
numpy
sounddevice
scipy
SpeechRecognition
pytesseract
Pillow
pandas
numpy
opencv-python-headless
python-dotenv
nltk
gtts